{% extends "base.html" %}
{% load static %}

{% block title %}
    Classy - Multipurpose Template | Minimal Portfolio
{% endblock title%}

{% block welcome_area %}
    <!-- ***** Welcome Area Start ***** -->
    <section class="portfolio_welcome_area minimalist_portfolio height-500 background-overlay-white jarallax" style="background-image: url({% static 'img/bg-img/mini-portfolio.jpg' %})" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="minimalist_welcome_area_text">
                        <h3>Hello, I'm Classy</h3>
                        <p>Front-end Developer &amp; UX/UI Designer</p>
                        <a href="#" class="btn btn-pill btn-info">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->
{% endblock welcome_area %}

{% block project_area %}
    <!-- ***** Project area start ***** -->
    <section class="gallery_area minimalist_portfolio section_padding_100 clearfix" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="gallery_menu">
                        <div class="text-center portfolio-menu">
                            <button class="active btn btn-md" type="button" data-filter="*">all</button>
                            <button class="btn btn-md" type="button" data-filter=".web">design</button>
                            <button class="btn btn-md" type="button" data-filter=".art">Art</button>
                            <button class="btn btn-md" type="button" data-filter=".bra">Branding</button>
                            <button class="btn btn-md" type="button" data-filter=".app">App</button>
                        </div>
                    </div>

                    <div class="gallery_full_width_images_area clearfix">

                        <!-- Single gallery Item Start -->
                        <div class="single_gallery_item app wow fadeInUp">
                            <img src="{% static 'img/gallery/m-1.jpg' %}" alt="">
                            <!-- Single gallery Item hover caption -->
                            <div class="hover_overlay">
                                <div class="classy-table">
                                    <div class="classy-table-cell">
                                        <div class="gallery_info">
                                            <h6>Creative Work</h6>
                                            <p>Popup View</p>
                                        </div>
                                        <div class="more_details text-center">
                                            <a class="gallery_img" href="img/gallery/m-1.jpg"><i class="pe-7s-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single gallery Item Start -->
                        <div class="single_gallery_item art wow fadeInUp">
                            <img src="{% static 'img/gallery/m-2.jpg' %}" alt="">
                            <!-- Single gallery Item hover caption -->
                            <div class="hover_overlay">
                                <div class="classy-table">
                                    <div class="classy-table-cell">
                                        <div class="gallery_info">
                                            <h6>Creative Work</h6>
                                            <p>Popup View</p>
                                        </div>
                                        <div class="more_details text-center">
                                            <a class="gallery_img" href="img/gallery/m-2.jpg"><i class="pe-7s-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single gallery Item Start -->
                        <div class="single_gallery_item wow bra fadeInUp">
                            <img src="{% static 'img/gallery/m-3.jpg' %}" alt="">
                            <!-- Single gallery Item hover caption -->
                            <div class="hover_overlay">
                                <div class="classy-table">
                                    <div class="classy-table-cell">
                                        <div class="gallery_info">
                                            <h6>Creative Work</h6>
                                            <p>Popup View</p>
                                        </div>
                                        <div class="more_details text-center">
                                            <a class="gallery_img" href="img/gallery/m-3.jpg"><i class="pe-7s-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single gallery Item Start -->
                        <div class="single_gallery_item wow art fadeInUp">
                            <img src="{% static 'img/gallery/m-4.jpg' %}" alt="">
                            <!-- Single gallery Item hover caption -->
                            <div class="hover_overlay">
                                <div class="classy-table">
                                    <div class="classy-table-cell">
                                        <div class="gallery_info">
                                            <h6>Creative Work</h6>
                                            <p>Popup View</p>
                                        </div>
                                        <div class="more_details text-center">
                                            <a class="gallery_img" href="img/gallery/m-4.jpg"><i class="pe-7s-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single gallery Item Start -->
                        <div class="single_gallery_item bra wow fadeInUp">
                            <img src="{% static 'img/gallery/m-5.jpg' %}" alt="">
                            <!-- Single gallery Item hover caption -->
                            <div class="hover_overlay">
                                <div class="classy-table">
                                    <div class="classy-table-cell">
                                        <div class="gallery_info">
                                            <h6>Creative Work</h6>
                                            <p>Popup View</p>
                                        </div>
                                        <div class="more_details text-center">
                                            <a class="gallery_img" href="img/gallery/m-5.jpg"><i class="pe-7s-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single gallery Item Start -->
                        <div class="single_gallery_item art wow fadeInUp">
                            <img src="{% static 'img/gallery/m-6.jpg' %}" alt="">
                            <!-- Single gallery Item hover caption -->
                            <div class="hover_overlay">
                                <div class="classy-table">
                                    <div class="classy-table-cell">
                                        <div class="gallery_info">
                                            <h6>Creative Work</h6>
                                            <p>Popup View</p>
                                        </div>
                                        <div class="more_details text-center">
                                            <a class="gallery_img" href="img/gallery/m-6.jpg"><i class="pe-7s-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single gallery Item Start -->
                        <div class="single_gallery_item web wow fadeInUp">
                            <img src="{% static 'img/gallery/m-7.jpg' %}" alt="">
                            <!-- Single gallery Item hover caption -->
                            <div class="hover_overlay">
                                <div class="classy-table">
                                    <div class="classy-table-cell">
                                        <div class="gallery_info">
                                            <h6>Creative Work</h6>
                                            <p>Popup View</p>
                                        </div>
                                        <div class="more_details text-center">
                                            <a class="gallery_img" href="img/gallery/m-7.jpg"><i class="pe-7s-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single gallery Item Start -->
                        <div class="single_gallery_item wow bra fadeInUp">
                            <img src="{% static 'img/gallery/12.jpg' %}" alt="">
                            <!-- Single gallery Item hover caption -->
                            <div class="hover_overlay">
                                <div class="classy-table">
                                    <div class="classy-table-cell">
                                        <div class="gallery_info">
                                            <h6>Creative Work</h6>
                                            <p>Popup View</p>
                                        </div>
                                        <div class="more_details text-center">
                                            <a class="gallery_img" href="img/gallery/12.jpg"><i class="pe-7s-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Load More Button -->
        <div class="container">
            <div class="row">
                <div class="col-12 text-center m-top-30">
                    <a href="#" class="btn btn-pill btn-info">Load More</a>
                </div>
            </div>
        </div>

    </section>
    <!-- ***** Project area end ***** -->
{% endblock project_area %}

{% block footer %}
    <!-- Footer Area Start -->
    <footer class="footer_area">
        <!-- Top Footer Area Start -->
        <div class="foo_top_header_two section_padding_100_70 background-pattern pattern-9">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_foo_part">
                            <h5>Classy.</h5>
                            <p>It includes rich features &amp; contents. It's designed &amp; developed based on One Page/ Multi-page Layout. You can use any layout from any demo anywhere.</p>
                            <p>Classy is completely creative, clean &amp; 100% responsive website.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_foo_part">
                            <h5>Important Links</h5>
                            <ul class="imp_links">
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Terms &amp; Conditions</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>About Licences</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Help &amp; Support</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Careers</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Community &amp; Forum</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_foo_part">
                            <h5>Latest News</h5>
                            <div class="foo_single_blog_area">
                                <div class="foo_blog_thumb">
                                    <img src="{% static 'img/news-img/blog-2.jpg' %}" alt="">
                                </div>
                                <a href="#">
                                    <h5>Your Blog Title Goes Here</h5>
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                            <div class="foo_single_blog_area">
                                <div class="foo_blog_thumb">
                                    <img src="{% static 'img/news-img/blog-8.jpg' %}" alt="">
                                </div>
                                <a href="#">
                                    <h5>Your Blog Title Goes Here</h5>
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_foo_part">
                            <h5>Latest Works</h5>
                            <div class="latest_works">
                                <a class="foo_latest_works_img" href="{% static 'img/gallery/1.jpg' %}"><img src="{% static 'img/gallery/1.jpg' %}" alt=""></a>
                                <a class="foo_latest_works_img" href="{% static 'img/gallery/4.jpg' %}"><img src="{% static 'img/gallery/4.jpg' %}" alt=""></a>
                                <a class="foo_latest_works_img" href="{% static 'img/gallery/5.jpg' %}"><img src="{% static 'img/gallery/5.jpg' %}" alt=""></a>
                                <a class="foo_latest_works_img" href="{% static 'img/gallery/7.jpg' %}"><img src="{% static 'img/gallery/7.jpg' %}" alt=""></a>
                                <a class="foo_latest_works_img" href="{% static 'img/gallery/10.jpg' %}"><img src="{% static 'img/gallery/10.jpg' %}" alt=""></a>
                                <a class="foo_latest_works_img" href="{% static 'img/gallery/11.jpg' %}"><img src="{% static 'img/gallery/11.jpg' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area Start -->
        <div class="foo_bottom_header_two section_padding_50">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <p>© All Rights Reserved by <a href="#">Designing World</a></p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="foo_btm_social_area_two text-right">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}
